#already {
  font-family: "Courier New", Courier, monospace;
  font-weight: 350;
  font-size: 15px;
  line-height: 23px;
  color: #e8e5e5;
}
#loginBtn {
  background-color: #1e1e1e;
  color: rgb(47, 47, 180);
  font-size: 15px;
  border: none;
  cursor: pointer;
}

#goLogin {
  display: flex;
  justify-content: flex-end;
}
#title {
  margin-top: 45px;
  text-align: center;
  color: #efefef;
  font-size: 50px;
  font-weight: 530;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 50px;
}

.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}
b {
  color: #efefef;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  text-align: left;
}
.info {
  width: 350px;
}

input {
  border-radius: 0.5rem;
  width: 300px;
  height: 35px;
  font-size: 15px;
}
#btnBox {
  display: flex;
  justify-content: center;
}
#btnArea {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
#completeBtn {
  display: flex;
  margin-top: 40px;
  background-color: #b9b6b6;
  /* font-family: "Courier New", Courier, monospace; */
  font-weight: 550;
  font-size: 17px;
  border: 3px solid #000000;
  border-radius: 0.2em;
  cursor: pointer;
  padding: 10px 20px;
  color: #404040;
}
#backBtn {
  display: flex;
  margin-top: 40px;
  background-color: #e0e0e0;
  /* font-family: "Courier New", Courier, monospace; */
  font-weight: 550;
  font-size: 15px;
  border: 3px solid #000000;
  border-radius: 0.2em;
  cursor: pointer;
  padding: 10px 10px;
  color: #404040;
}
